@model PagedList<KucKuStore.Models.Entities.NHACC>
@using PagedList.Mvc
@using PagedList
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}


<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>SẢN PHẨM</strong>
                    <h3>
                        @Html.ActionLink("Thêm mới", "Create")
                    </h3>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <tr>
                            <th>
                                Mã NCC
                            </th>
                            <th>
                                Tên NCC
                            </th>

                            <th>
                                Mail
                            </th>
                            <th>
                                SĐT
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MANCC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TENNCC)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.EMAIL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MANCC }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MANCC }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MANCC })
                            </td>
                        </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div><!-- .animated -->


    @Html.PagedListPager(Model, pageTemp => Url.Action("Index", new { pageTemp = pageTemp }), new PagedListRenderOptions()
{
    LiElementClasses = new List<string> { "tav_button", "tav_item" }
})
   

